<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ArtistBooking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.artist.services.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginArtist</display-name>
    <servlet-name>LoginArtist</servlet-name>
    <servlet-class>com.artist.services.LoginArtist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginArtist</servlet-name>
    <url-pattern>/LoginArtist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.artist.services.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterArtist</display-name>
    <servlet-name>RegisterArtist</servlet-name>
    <servlet-class>com.artist.services.RegisterArtist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterArtist</servlet-name>
    <url-pattern>/RegisterArtist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteArtist</display-name>
    <servlet-name>DeleteArtist</servlet-name>
    <servlet-class>com.artist.services.DeleteArtist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArtist</servlet-name>
    <url-pattern>/DeleteArtist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookArtist</display-name>
    <servlet-name>BookArtist</servlet-name>
    <servlet-class>com.artist.services.BookArtist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookArtist</servlet-name>
    <url-pattern>/BookArtist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveBooking</display-name>
    <servlet-name>ApproveBooking</servlet-name>
    <servlet-class>com.artist.services.ApproveBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveBooking</servlet-name>
    <url-pattern>/ApproveBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisapproveBooking</display-name>
    <servlet-name>DisapproveBooking</servlet-name>
    <servlet-class>com.artist.services.DisapproveBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisapproveBooking</servlet-name>
    <url-pattern>/DisapproveBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.artist.services.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBooking</display-name>
    <servlet-name>DeleteBooking</servlet-name>
    <servlet-class>com.artist.services.DeleteBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBooking</servlet-name>
    <url-pattern>/DeleteBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveArtist</display-name>
    <servlet-name>ApproveArtist</servlet-name>
    <servlet-class>com.artist.services.ApproveArtist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveArtist</servlet-name>
    <url-pattern>/ApproveArtist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.artist.services.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
</web-app>